@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #e1f7cd;
    color: #333;
}

/* Fullscreen Canvas for Animated Background */
#particles-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

section.blood-input {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    text-align: center;
    margin-top: 105px;
}

section.blood-input h2 {
    font-size: 2rem;
    color: #279253;
    margin-bottom: 29px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    padding: 0 10px;
}

.form-column label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.form-column input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
    padding: 7px 0;
    border-radius: 5px;
}

button.analyze-button {
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

button.analyze-button:hover {
    background-color: #1e874b;
}

/* Responsive Design */
@media (max-width: 768px) {
    section.blood-input {
        margin: 20px;
        padding: 20px;
    }

    section.blood-input h2 {
        font-size: 1.5rem;
    }

    .form-row {
        flex-direction: column;
    }

    .form-column {
        padding: 0;
    }

    button.analyze-button {
        width: 100%;
    }
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
}

.footer-about, .footer-contact, .footer-social {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 20px;
}

.footer-contact ul {
    list-style-type: none;
    padding: 0;
}

.footer-contact li {
    margin-bottom: 8px;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-social a {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-social img {
    height: 30px;
    width: 30px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    font-size: 14px;
}

@media (min-width: 769px) {
    .footer .container {
        flex-direction: row;
    }
}
