/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008c0c; /* Lime Green */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.54);
    padding: 9px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}


.navbar a{
    text-decoration: none;
}

.logo {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    margin-right: 15px;
}

.search-bar {
    width: 30%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    color: #555;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* The sidenav styling */
.open-btn {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #008c0c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
}


.sidenav {
    height: 100%;
    width: 0; /* Initial width is 0, so it's hidden */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s; 
    padding-top: 60px;
}

/* Sidenav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.5s;
}

/* Link hover effect */
.sidenav a:hover {
    color: #008c0c;
}


.sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
}

.footer-about, .footer-contact, .footer-social {
    flex: 1;
    padding: 0 15px;
}

.footer-contact ul {
    list-style-type: none;
    padding: 0;
}

.footer-contact li {
    margin-bottom: 8px;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-social a {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-social img{
    height: 30px;
    width: 30px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    font-size: 14px;
}